# Django et extensions
Django==5.2.7
django-extensions==4.1

# Base de données
psycopg2-binary==2.9.11
dj-database-url==3.0.1

# Gestion des PDF
xhtml2pdf==0.2.17
reportlab==4.4.4

# Graphiques
matplotlib==3.10.6
pycairo==1.28.0
pandas==2.1.1  # version stable récente

# Utilitaires
python-dotenv==1.1.1
requests==2.32.5
bcrypt==5.0.0

# Encodages et langues
arabic-reshaper==3.0.0
python-bidi==0.6.6


















